.game-header {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: antiquewhite;
  opacity: 0.8;
}

.game-title {
  font-size: 40px;
  font-family: monospace;
  color: black;
  position: relative;
  left: 20px;
}

.author-name {
  color: black;
  font-size: 15px;
  left: 22px;
  position: relative;
  font-family: cursive;
}

.main-ui {
  display: block;
  position: relative;
  top: 50px;
  text-align: center;
}

.bottom-section {
  position: relative;
  top: 80px;
  display: inline-flex;
}

a.button {
  opacity: 0.8;
  display: inline-block;
  padding: 0.35em;
  border: 0.2em solid #006400;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.50em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace;
  font-weight: 300;
  font-size: 22px;
  color: darkgreen;
  text-align: center;
  transition: all 0.2s;
  background-color: antiquewhite;
}

a.button:hover {
  color:#000000;
  background-color:#FFFFFF;
  cursor: pointer;
}

@media all and (max-width:30em){
  a.button {
  display:block;
  margin:0.4em auto;
  }
}