 .random-elements {
    display: block;
    height: 180px;
    padding-bottom: 25px;
  }
  
  .random-letter {
    font-size: 100px;
  }

  .letter-container {
    opacity: 0.9;
    min-height: 90px;
    min-width: 90px;
    background-color: antiquewhite;
    position: relative;
    display: inline-block;
    border-radius: 30px;
  }

  .random-topic {
    position: relative;
    font-size: 70px;
    position: relative;
    display: inline;
    opacity: 0.7;
    background: rgba(27, 114, 17, 0.2);
    color: black;
  }

  .next-button {
    position: relative;
    top: 450px;
  }
