 .random-elements {
    display: block;
    height: 180px;
    padding-bottom: 25px;
  }
  
  .random-letter {
    font-size: 100px;
    padding-bottom: 20px;
  }

  .random-topic {
    position: relative;
    font-size: 70px;
  }